.borderless {
  border: none;
}

a.no-dec {
    text-decoration: none;

}

a.no-dec:link, a.no-dec:visited {
    color: black;
}

a.no-dec:hover {
    color: #FA4857;
}

.pagination {
    color: #FA4857;
}

.page-link {
    color: #fb771a;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #fb8633;
    background-color: #eee;
    border-color: #ddd;
}

.price{
    color: #FA4857!important;
}

.oldprice{
    color: #968c87;
    text-decoration: line-through;
    font-size: 25px;
}